<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Créer Banque</title>
</head>

<body>

<div layout:fragment="content">

    <h2 class="mb-4">Créer Banque</h2>

    <form th:action="@{/banques/create}"
          method="post"
          th:object="${banque}">

        <div class="mb-3">
            <label>Libelle</label>
            <input type="text" class="form-control" th:field="*{libelle}" required>
        </div>

        <button class="btn btn-success">Créer</button>
    </form>

</div>

</body>
</html>